.input {
    border-radius: 3px;
    outline: none;
}

.correctValues {
    border: 3px solid darkblue;
}

.inputWrapper {

}

@media screen and (max-width: 930px) {
    .inputWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
